*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.applicationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ipod{
    height: 60vh;
    min-height: 500px;
    border-radius: 30px;
    margin-top: 5vh;
    padding: 20px 6px;
    background: linear-gradient(60deg, rgb(232, 232, 232), rgb(190, 190, 190));
    width: 35vh;
    min-width: 300px;
}
.ipod-top{
    height: 50%;
    border: 3px solid black;
    border-radius: 5px;
}
.ipod-bottom{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Controller */
.controller{
    background: linear-gradient(60deg, rgb(232, 232, 232), rgb(133, 133, 133));
    border-radius: 50%;
    height: 80%;
    width: 65%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.controller > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controller-menu{
    grid-area: 1/2/2/3;
}
.backward{
    grid-area: 2/1/3/2;
}
.forward{
    grid-area: 2/3/3/4;
}
.play-pause{
    grid-area: 3/2/4/3;
}
.controller-centre{
    grid-area: 2/2/3/3;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: gray;
}

/* screens */
.screenContainer{
    position: relative;
    height: 100%;
}

.screenImage{
    width: 100%;
    height: 100%;
}
.menu{
    background-color: white;
    color: black;
    font-size: 1.35rem;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 45%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menuTitle{
    height: 20%;
}

/* Music Component */
.songScreen{
    padding: 25px 5px 10px 5px;
    display: flex;
}
.songDetails{
    display: flex;
    justify-content: space-between;

}
.songBoxContainer{
    width: 45%;
    height: 70%;
}
.progress-container{
    width: 90%;
    min-width: 270px;
    background-color: grey;
    position: relative;
    height: 16px;
}
.progress-bar{
    position: absolute;
    z-index: 1;
    background-color: red;
    height: 16px;
}
.song-progress-time{
    display: flex;
    justify-content: space-between;
}